<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.edric.dao"/>
    </typeAliases>

    <mappers>
        <mapper class="com.edric.dao.UserMapper"/>
        <mapper class="com.edric.dao.BookMapper"/>
        <mapper class="com.edric.dao.CartMapper"/>
        <mapper class="com.edric.dao.OrderMapper"/>
    </mappers>

</configuration>
