<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edric.dao.UserMapper">

    <select id="queryUserByUsername" resultType="com.edric.pojo.User">
        select *
        from book.t_user
        where username = #{username};
    </select>

    <select id="queryUserByUsernameAndPassword" resultType="com.edric.pojo.User">
        select *
        from book.t_user
        where username = #{username} and password = #{password};
    </select>

    <insert id="saveUser" parameterType="com.edric.pojo.User">
        insert into book.t_user (username, password, email)
        values (#{username}, #{password}, #{email});
    </insert>

</mapper>